<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TASK0 by Genarogg</title>

    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <img src="/images/geanrogg.png" alt="">
    <div class="container">
      <h1>Task0 | Genarogg</h1>
      <p>Genaro Gonzalez</p>
      <p>ci: 25 074 591</p>
      <p>seccion: X</p>
    </div>
  </body>
</html>
